<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mathstricksnew">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.MathsTricksNew">
        <activity
            android:name=".Hemisphere"
            android:exported="false"
            android:label="Hemisphere"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Cone"
            android:exported="false"
            android:label="Cone"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Cylinder"
            android:exported="false"
            android:label="Cylinder"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Sphere"
            android:exported="false"
            android:label="Sphere"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Cuboid"
            android:exported="false"
            android:label="Cuboid"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Cube"
            android:exported="false"
            android:label="Cube"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Trapezium"
            android:exported="false"
            android:label="Trapezium"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Circle"
            android:exported="false"
            android:label="Circle"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Triangle"
            android:exported="false"
            android:label="Triangle"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Rectangle"
            android:exported="false"
            android:label="Rectangle"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Square"
            android:exported="false"
            android:label="Square"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AreasAndPeris"
            android:exported="true"
            android:label="Area and Perimeter"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SimpleAndCompound"
            android:exported="false"
            android:label="Simple and Compound Interest"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Roots"
            android:exported="false"
            android:label="Roots"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".HCF"
            android:exported="false"
            android:label="HCF and LCM"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Table"
            android:exported="false"
            android:label="Table"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>